<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ category }} Quiz</title>
    <style>
        .correct {
            color: green;
        }
        .incorrect {
            color: red;
        }
        #timer {
            font-weight: bold;
            color: rgb(148, 22, 22);
        }
        .quest{
            font-size: 5vh;
        }
    </style>
</head>
<body>
    <h2>{{ category }} Quiz</h2>

    <div style="margin-bottom: 20px;">
        <p id="timer" data-remaining-time="{{ remaining_time }}">Time Remaining: {{ remaining_time }} seconds</p>

        <p class="quest"><strong>{{ question_number }}. {{ question.question_text }}</strong></p>
        <form method="POST">
            {% csrf_token %}
            <ul>
                <li><button type="submit" name="answer" value="A" {% if last_answer_feedback %}disabled{% endif %}>A. {{ question.option_a }}</button></li>
                <li><button type="submit" name="answer" value="B" {% if last_answer_feedback %}disabled{% endif %}>B. {{ question.option_b }}</button></li>
                <li><button type="submit" name="answer" value="C" {% if last_answer_feedback %}disabled{% endif %}>C. {{ question.option_c }}</button></li>
                <li><button type="submit" name="answer" value="D" {% if last_answer_feedback %}disabled{% endif %}>D. {{ question.option_d }}</button></li>
            </ul>

            {% if last_answer_feedback %}
                <p class="{% if last_answer_feedback == 'Correct' %}correct{% else %}incorrect{% endif %}">
                    {{ last_answer_feedback }}!
                </p>
            {% endif %}
        </form>

        {% if last_answer_feedback %}
            <br>
            <form method="POST" action="{% url 'quiz_page' category %}">
                {% csrf_token %}
                <button type="submit" name="next_question">Next Question</button>
            </form>
        {% endif %}
    </div>

    <script>
        let remainingTime = parseInt(document.getElementById('timer').getAttribute('data-remaining-time'));
        const timerElement = document.getElementById('timer');

        setInterval(function() {
            if (remainingTime > 0) {
                remainingTime--;
                timerElement.innerHTML = "Time Remaining: " + remainingTime + " seconds";
            } else {
                window.location.href = "{% url 'quiz_complete' %}";  
            }
        }, 1000);
    </script>
</body>
</html>
